PORT=5000
# MONGODB_URI=mongodb://127.0.0.1:27017/points_leaderboard
MONGODB_URI=mongodb+srv://sAS@cluster0.cqu8mjy.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CLIENT_ORIGIN=http://localhost:5173
